# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/

# Env vars
.env
.env.*
gdrive-key.json

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
