<div class="form-field form-field-full">
  <label class="checkbox-inline" for="id_is_own_warehouse_request">
    <input id="id_is_own_warehouse_request" name="is_own_warehouse_request" type="checkbox" checked>
    Solicitação para o próprio almoxarifado
  </label>
</div>
<div class="form-field">
  <label for="id_requester_name">Solicitante</label>
  <input id="id_requester_name" class="input-control" name="requester_name" type="text" maxlength="160">
</div>
<div class="form-field">
  <label for="id_requester_department">Departamento</label>
  <input
    id="id_requester_department"
    class="input-control"
    name="requester_department"
    type="text"
    maxlength="120"
  >
</div>
<div class="form-field form-field-full">
  <p id="warehouse-request-help" class="field-help">
    Marque para criar uma solicitação interna do almoxarifado, que será automaticamente aprovada ao enviar.
  </p>
</div>
